@include responsive("large-down"){
    html{
        font-size: 55%;
    }
    .header{
        padding: $pd-15;
    }
    .header.active{
        // box-shadow: $shadow-1;
        padding: $pd-15;
    }

    section{
        padding: $pd-15;
    }
}
@include responsive("medium"){
    #menu-button{
        display: block;
    }
    #menu-button.fa-times{
        transform: rotate(180deg);
    }
    .header #login-button i{
        display: block;
    }
    .header #login-button .btn{
        display: none;
    }
    .header .navbar{
        position: absolute;
        top: 99%;
        right: $tlr-1;
        left: $tlr-1;
        background: $color-white-3;
        border-top: $bdr-color-1;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        display: block;
        margin: $mg-9;
        font-size: $fs-17;
    }
}
@include responsive("small-down"){
    .icons-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        gap: $gap-2;
    }
}
@include responsive("x-small-down"){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: $fs-24;
    }
}
@include responsive("xx-small-down"){
    .services{
        .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
            gap: $gap-2;
        }
    }
}
@include responsive("xxx-small-down"){
    .icons-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: $gap-2;
    }
    .services{
        .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            gap: $gap-2;
        }
    }
}